@import "~assets/styles/mixins.scss";

.list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0 2rem;
    // margin: 0 -5px;
    &.head {
        margin-bottom: 1rem;
        .item {
            min-height: auto;
        }
    }
}

.item {
    min-height: 230px;
    padding: 0 5px;
    @include xl {
        flex: 0 0 14.28%;
    }
    @include lg {
        flex: 0 0 25%;
    }
    @include md {
        flex: 0 0 33.33%;
    }
    @include sm {
        flex: 0 0 50%;
    }
    @include xs {
        flex: 0 0 100%;
    }
    &.isToday {
        background: rgba($color: red, $alpha: 0.4);
    }
}
