@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

* {
    box-sizing: border-box;
}

body,
p,
ul,
button {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button {
    border: none;
}

:root {
    --color-primary: #ff66b2;
    --color-secondary: #3dcca8;
    --color-background: #050d33;
}

.App {
    text-align: center;
    font-family: "Share Tech Mono";
    background: var(--color-background);
    color: #f2f2f2;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
